
.mailing__list-text {
    text-align: center;
}
.mailing__list-text p {
    color: #000;
    text-align: center;
    margin: 0;
}

.mailing__list-text p:nth-child(odd) {
    text-transform: uppercase;
    font-size: var(--title-font-size);
    font-weight: 700;
    padding-top: 73px;
}

.mailing__list-text p:nth-child(even) {
    color: var(--p-color);
    font-size: 22px;
    font-weight: 400;
    padding-top: 46px;
    padding-bottom: 46px;
}

.inpud-email {
    background: #F2F2F2;
    border-radius: 10px 0 0 10px;
    border: none;
    padding-left: 22px;
    height: 60px;
    width: 600px;
    font-size: 18px;
    font-weight: 400;
}

.inpud-email:hover {
    background: #E6E6E6;
}

.subscription-btn {
    background: var(--grid-item-bg);
    border-radius: 0 10px 10px 0;
    border: none;
    height: 60px;
    width: 200px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.subscription-btn:hover {
    background: #68A2CA;
}

.subscription-email {
    font-size: 0;
    padding-bottom: 111px;
}